{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="lb-offer-clouds lb-cloud-mini col-12 mt-2 d-flex align-items-center justify-content-around">
    <h3>Spend £{{ discount_threshold }} to get {{ discount_percentage }}% off!</h3>
</div>

<div class="row my-3 justify-content-center align-items-center">
    <div class="col-10 d-flex flex-column align-items-center">
        <div class="col-4 card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="lb-noto lb-eyeshadow-heading-two m-2">Total: £{{ product.price }}</h4>
        <a class="btn lb-add-bag px-1 py-2 mx-1 my-3" href="{% url 'products' %}">Checkout</a>
    </div>
</div>

{% endblock %}