{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="lb-offer-clouds lb-cloud-mini col-12 mt-2 d-flex align-items-center justify-content-around">
    <h3>Spend £{{ discount_threshold }} to get {{ discount_percentage }}% off!</h3>
</div>

<div class="row my-3 justify-content-center align-items-center">
    <div class="col-10 d-flex flex-column align-items-center">
        {% for item in bag_items %}
        {{ bag_items }}
        <br>
        <br>
        {{ request.session.bag }}
        <div class="col-6 col-xxl-4 card mb-3">
            <div class="row g-0">
                <div class="col-md-3 d-flex align-items-center justify-content-center bg-white">
                    <img src="{{ item.product.image.url }}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p class="card-text"><small class="text-body-secondary">{{ item.product.shade }} x
                                {{ item.quantity }}</small></p>
                        <p class="card-text"> <strong>£{{ item.product.price }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-6 col-xxl-4 mb-3">
            <p class="text-end">+ Delivery: £{{ delivery|floatformat:2 }}</p>
        </div>
        {% if total_from_discount < 0 %}
        <h5 class="lb-noto m-2">Woohoo! You got {{ discount|floatformat:2 }} off</h5>
        {% else %}
        <h5 class="lb-noto m-2">Spend {{ total_from_discount }} to get {{ discount_percentage }} off!</h5>
        {% endif %}
        <h4 class="lb-noto lb-eyeshadow-heading-two m-2">Total: £{{ grand_total|floatformat:2 }} </h4>
        <a class="btn lb-add-bag px-1 py-2 mx-1 my-3" href="{% url 'products' %}">Checkout</a>
    </div>
</div>

{% endblock %}