{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mt-2">
    <div class="lb-eyeshadow-container d-flex col-12 justify-content-center">
        <div class="lb-eyeshadow-face flex-fill d-none d-lg-block"></div>
        <div class="lb-eyeshadow-promo d-flex flex-column col-lg-3 col-sm-6 col-12 px-3 py-3">
            <div>
                <h3 class="lb-eyeshadow-heading-one ms-md-4 text-center text-sm-start">
                    Find your
                </h3>
                <h3 class="lb-noto text-sm-end lb-eyeshadow-heading-two me-md-4 text-center">Flawless</h3>
            </div>
            <div class="align-self-center mt-sm-5 mt-3 mx-3 text-center">
                <p>From classic neutrals to rich spectrums, there's a palette to suit every skin tone</p>
            </div>
            <a class="btn lb-btn-peach align-self-center mt-sm-5 mt-3" href="{% url 'products' %}?q=eyeshadow">Shop
                Eyeshadow <i class="fa-solid fa-angles-right"></i></a>
        </div>
        <div class="lb-eyeshadow-art flex-fill d-none d-sm-block"></div>
    </div>

    <div class="lb-offer-clouds col-12 mt-2 d-flex align-items-center">
        <div class="col-12 d-flex justify-content-around md-flex-column">
            <a class="btn lb-btn-offer d-none d-md-block" href="{% url 'products' %}?category=face">Face <i
                    class="fa-solid fa-angles-right"></i></a>
            <a class="btn lb-btn-offer d-none d-lg-block" href="{% url 'products' %}?category=eyes">Eyes <i
                    class="fa-solid fa-angles-right"></i></a>
            <h3 class="m-0">Spend £{{ discount_threshold }} to get {{ discount_percentage }}% off!</h3>
            <a class="btn lb-btn-offer d-none d-md-block" href="{% url 'products' %}?category=lips">Lips <i
                    class="fa-solid fa-angles-right"></i></a>
            <a class="btn lb-btn-offer d-none d-lg-block" href="{% url 'products' %}?category=cheeks">Cheeks <i
                    class="fa-solid fa-angles-right"></i></a>
        </div>
    </div>
</div>

<div class="d-flex my-2 justify-content-center">
    <div class="col-sm-8 col-md-8 col-xl-10 p-xl-0 px-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
            <div class="col d-flex justify-content-center">
                <div class="card h-100 border-rad d-flex flex-column justify-content-around" id="mac-promo">
                    <div class="d-flex flex-column mx-3 text-center">
                        <h5 class="text-peach d-md-none">SHOP MAC</h5>
                        <p class="text-white d-md-none">Shop the MAC look with bestselling Studio Fix foundation,
                            brand-new Mineralize Blush, and our favourite Matte Lipstick</p>
                        <h5 class="text-peach d-none d-md-block">MAC Matte Lipstick</h5>
                        <p class="text-white d-none d-md-block">Colour-rich, classic and with a full-matte
                            finish </p>
                        <hr class="text-white d-none d-md-block">
                        <h5 class="text-peach d-none d-md-block">MAC Mineralize Blush</h5>
                        <p class="text-white d-none d-md-block">Natural-looking, radiant colour </p>
                        <hr class="text-white d-none d-md-block">
                        <h5 class="text-peach d-none d-md-block">MAC Studio Fix</h5>
                        <p class="text-white d-none d-md-block">Breathable, long-wearing and streak-free finish</p>
                    </div>
                </div>
            </div>
            {% for product in products %}
            {% if "MAC" in product.name %}
            <div class="col d-flex justify-content-center">
                <div class="card h-100 p-2 border-rad">
                    <div class="lb-product-image d-flex justify-content-center">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top h-100 lb-images border-rad"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}image-preview.webp" class="card-img-top h-100 lb-images border-rad"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text text-center"><strong>£{{ product.price }}</strong> | {{ product.rating }} <i
                                class="fa-solid fa-star"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn lb-btn-offer lb-buy-product px-4"
                            href="{% url 'product_detail' product.id %}">View Product</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="lb-eyeshadow-promo col-12 d-flex align-items-center mt-2 p-md-4 p-2 text-white">
    <div class="col-12 d-flex justify-content-around align-items-center flex-column flex-sm-row">
        <div class="text-center col-4">
            <h3 class="lb-eyeshadow-heading-two text-peach"><i class="fa-solid fa-award"></i></h3>
            <h3 class=" lb-noto lb-eyeshadow-heading-one">Best brands</h3>
        </div>
        <div class="text-center col-4">
            <h3 class="lb-eyeshadow-heading-two text-peach"><i class="fa-solid fa-truck-fast"></i></h3>
            <h3 class=" lb-noto lb-eyeshadow-heading-one">Fast delivery</h3>
        </div>
        <div class="text-center col-4">
            <h3 class="lb-eyeshadow-heading-two text-peach"><i class="fa-solid fa-money-bill-1-wave"></i></h3>
            <h3 class="lb-noto lb-eyeshadow-heading-one">Great prices</h3>
        </div>
    </div>
</div>



{% endblock %}