{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mt-2">
    <div class="lb-eyeshadow-container d-flex col-12">
        <div class="lb-eyeshadow-face flex-fill"></div>
        <div class="lb-eyeshadow-promo d-flex flex-column col-3 py-3 px-3">
            <div>
                <h3 class="lb-eyeshadow-heading-one">
                    Find your
                </h3>
                <h3 class="lb-noto text-end lb-eyeshadow-heading-two">Flawless</h3>
            </div>
            <div class="align-self-center mt-5 mx-3 text-center">
                <p>From classic neutrals to rich spectrums, there's a shade to suit every skin tone</p>
            </div>
            <button class="btn lb-btn-peach align-self-center mt-5">Shop Eyeshadow</button>
        </div>
        <div class="lb-eyeshadow-art flex-fill"></div>
    </div>

    <div class="lb-offer-clouds col-12 mt-2 d-flex align-items-center">
        <div class="col-12 d-flex justify-content-around">
            <button class="btn lb-btn-offer">Face</button>
            <button class="btn lb-btn-offer">Eyes</button>
            <h3>Spend £50 to get 5% off!</h3>
            <button class="btn lb-btn-offer">Lips</button>
            <button class="btn lb-btn-offer">Cheeks</button>
        </div>
    </div>
    <div>showcase of top products</div>
    <div>why luna</div>
</div>
{% endblock %}