{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}
<div class="col-12 mt-2 d-flex align-items-center justify-content-around">
    <h1 class="col-8 col-sm-6 col-xl-4 text-center my-3 py-2 lb-title">Profile</h1>
</div>

<div class="d-flex my-3 justify-content-center align-items-center">
    <div
        class="col-12 col-sm-10 col-xxl-8 d-flex justify-content-xl-between align-items-center align-items-xl-start flex-column flex-xl-row">
        <div class="col-10 col-sm-8 col-xl-5 me-md-2">
            <form action="{% url 'profile' %}" method="POST" id="lb-update-profile" class="py-2">
                <h5>Delivery Information</h5>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-3">
                    <button class="btn lb-btn-offer" type="submit" id="submit-button">Update Profile</button>
                </div>
            </form>
        </div>
        <div class="col-10 col-sm-8 col-xl-7 ms-xl-2 mt-4 mt-xl-0">
            <h5>Order History</h5>
            {% if orders %}
            <div class="col-12 card lb-orders-card mb-3">
                <table class="table lb-table">
                    <thead>
                        <tr>
                            <th class="lb-table-corner">Order Number</th>
                            <th>Date</th>
                            <th class="lb-table-corner d-none d-md-table-cell">Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        {% if not forloop.last %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"
                                    class="lb-underline-link">{{ order.order_number|truncatechars:10 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="d-none d-md-table-cell">
                                    {% for item in order.lineitems.all %}
                                    <li class="list-unstyled text-start">
                                        {{ item.quantity }}x {{ item.product.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% else %}
                        <tr id="lb-last-order">
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"
                                    class="lb-underline-link">{{ order.order_number|truncatechars:10 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td class="lb-table-corner">
                                <ul class="d-none d-md-table-cell">
                                    {% for item in order.lineitems.all %}
                                    <li class="list-unstyled">
                                        {{ item.quantity }}x {{ item.product.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-body-secondary">You have no previous orders</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript" src="{% static 'profiles/js/country.js' %}"></script>
{% endblock %}