{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="lb-offer-clouds lb-cloud-mini col-12 d-flex align-items-center justify-content-around">
    <h3>Spend £{{ discount_threshold }} to get {{ discount_percentage }}% off!</h3>
</div>

<div class="col-12 mt-2 d-flex align-items-center justify-content-around">
    <h1 class="col-8 col-sm-6 col-xl-4 text-center my-3 py-2 lb-title">Wishlist</h1>
</div>

<div class="d-flex my-3 justify-content-center align-items-center">
    <div class="col-10 d-flex flex-column align-items-center">
        {% if wishlist_items %}
        {% for item in wishlist_items %}
        <div class="col-12 col-sm-8 col-md-10 col-xl-8 col-xxl-6 card lb-bag-card mb-3 wishlist-item">
            <div class="row g-0">
                <div class="col-md-3 d-flex align-items-center justify-content-center bg-white lb-bd-pink">
                    {% if item.product.image %}
                    <a href="{% url 'product_detail' item.product.id %}">
                        <img src="{{ item.product.image.url }}" class="img-fluid rounded-start"
                            alt="{{ item.product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' item.product.id %}">
                    </a>
                    <img src="{{ MEDIA_URL }}/image-preview.webp" class="img-fluid rounded-start"
                        alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-md-9 d-flex align-items-center">
                    <div class="card-body">
                        <div class="lb-item-title mb-3">
                            <a href="{% url 'product_detail' item.product.id %}" class="lb-hover-underline">
                                <h5 class="card-title">{{ item.product.name }}</h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="text-center m-2"> {% if item.product.volume %} {{ item.product.volume }} |{% endif %}
                                    {{ item.product.rating }} <i class="fa-solid fa-star"></i></p>
                                <p class="m-2"><strong>£{{ item.product.price }}</strong></p>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-between align-items-center flex-wrap mt-2">
                            {% if item.product.shades %}
                            <select class="form-select py-2 mx-1 wishlist-selector d-none" name="shade">
                                <option selected disabled>Choose your shade</option>
                                {% for shade in item.product.shades %}
                                <option value="{{ shade }}">{{ shade }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            <form action="{% url 'remove_from_wishlist' item.id %}" method="POST"
                                class="lb-shades-picker d-flex justify-content-center align-items-center my-1 flex-column flex-xl-row">
                                {% csrf_token %}
                                <input type="submit" value="Remove from Wishlist" class="btn lb-add-bag px-1 py-2 mx-1 mt-2 mt-xl-0">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                            <form action="{% url 'move_to_bag' item.id %}" method="POST"
                                class="lb-shades-picker d-flex justify-content-center align-items-center my-1 flex-column flex-xl-row move-to-bag-form">
                                {% csrf_token %}
                                <input type="hidden" name="shade" value="">
                                <input type="hidden" name="quantity" value="1">
                                <input type="submit" value="Move to shopping bag" class="btn lb-add-bag px-1 py-2 mx-1 mt-2 mt-xl-0 add-to-bag-btn">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h4 class="lb-italics m-2">There's nothing on your wishlist
        </h4>
        <a class="btn lb-add-bag px-1 py-2 mx-1 my-3" href="{% url 'products' %}">Back to Make
            Up</a>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function() {
    $('.wishlist-item').each(function() {
        const $item = $(this);
        const $btn = $item.find('.add-to-bag-btn');
        const $shadeSelect = $item.find('.wishlist-selector');
        const $hiddenInput = $item.find('input[name="shade"]');
        const $form = $item.find('.move-to-bag-form');

        $btn.click(function(e) {
            if ($shadeSelect.length && $shadeSelect.hasClass('d-none')) {
                e.preventDefault();
                $shadeSelect.removeClass('d-none');
                $shadeSelect.focus();
            }
        });

        $shadeSelect.change(function() {
            $hiddenInput.val($(this).val());
            $form.submit();
        });
    });
});

</script>
{% endblock %}