{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="col-12 mt-2 d-flex align-items-center justify-content-around">
    <h1 class="col-4 text-center my-3 py-2 lb-title">Checkout</h1>
</div>

<div class="row my-3 justify-content-center align-items-center">
    <div class="col-8 d-flex flex-column">
        <h5>Please complete the below form</h5>
        {% for item in bag_items %}
        <div class="col-8 col-xxl-6 card mb-3">
            <div class="row g-0">
                <div class="col-md-3 d-flex align-items-center justify-content-center bg-white lb-bd-pink">
                    <img src="{{ item.product.image.url }}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="lb-item-title mb-3">

                            {% if item.shade %}
                            <p class="card-text"><small class="text-body-secondary">Shade: {{ item.shade }}</small>
                            </p>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center flex-wrap mt-2">
                            <p class="card-text text-body-secondary mb-0 col-8">{{ item.quantity }} x
                                £{{ item.product.price }}
                            </p>
                            <p class="card-text text-body-secondary mb-0 px-2 col-4">Quantity</p>
                            <p class="card-text lb-item-text mb-0 col-8">
                                <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                            <form class="lb-drop-form col-4" method="POST" action="{% url 'update_bag' item.item_id %}">
                                {% csrf_token %}
                                <select class="form-select mx-1 lb-drop-option" name="bag-quantity">
                                    <option {% if item.quantity == 1 %} selected {% endif %}>1
                                    </option>
                                    <option {% if item.quantity == 2 %} selected {% endif %}>2
                                    </option>
                                    <option {% if item.quantity == 3 %} selected {% endif %}>3
                                    </option>
                                    <option {% if item.quantity == 4 %} selected {% endif %}>4
                                    </option>
                                    <option {% if item.quantity == 5 %} selected {% endif %}>5
                                    </option>
                                </select>
                                {% if item.shade %}
                                <input type="hidden" name="shade" value="{{ item.shade }}">
                                {% endif %}
                            </form>
                            <a class="text-body-secondary lb-hover-underline update-item mt-1"><small>Update</small></a>
                            <a class="text-body-secondary lb-hover-underline remove-item mt-1"
                                id="remove_{{ item.item_id }}"
                                data-product_shade="{{ item.shade }}"><small>Remove</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}