@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif;
}

.lb-noto {
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 900;
}

.text-peach {
    color: #FF9C83 !important;
}

.border-rad {
    border-radius: 3px;
}

.card {
    border-color: #FFECEB;
    background-color: #FFECEB;
    border-width: 0;
}

.message-container {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

/* Header */

#logo {
    background: url(/media/logo-black.webp) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
}

header {
    background-color: #000;
    font-size: 20px;
}

.nav-link:visited {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF9C83;
}

#search-button {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

#search-button:hover {
    background-color: #FF9C83;
    color: #000;
    border: 1px solid #000;
}

.lb-nav-drop:hover,
.lb-ul-drop {
    background-color: #000;
}

/* Footer */

.lb-footer {
    background-color: #000;
    height: 250px;
    font-size: 16px;
}

.lb-footer ul {
    list-style-type: none;
    justify-content: center;
}

#lb-socials {
    font-size: 24px;
}

/* Toasts */

.toast,
.toast-capper {
    background-color: #FFECEB;
}

/* Home Page */

.lb-btn-peach {
    background-color: #FF9C83;
    border-radius: 3px;
    border: 1px solid #000;
    color: #000;
}

.lb-btn-peach:hover {
    border: 1px solid #FF9C83;
    border-radius: 3px;
    background-color: #313639;
    color: #fff;
}

/* Eyeshadow Promotion */

.lb-eyeshadow-container {
    height: 400px;
    color: #fff;
}

.lb-eyeshadow-promo {
    background-color: #313639;
}

.lb-eyeshadow-heading-one,
.lb-eyeshadow-heading-two,
.lb-italics {
    font-style: italic;
}

.lb-eyeshadow-heading-one {
    font-size: 40px;
}

.lb-eyeshadow-heading-two {
    font-size: 50px;
}

.lb-eyeshadow-face {
    background: url(/media/home-eyeshadow.webp) no-repeat center center;
    background-size: cover;
}

.lb-eyeshadow-art {
    background: url(/media/home-eyeshadow-art.webp) no-repeat center center;
    background-size: cover;
}

/* Special Offer Clouds */

.lb-offer-clouds {
    background: url(/media/home-clouds.webp) no-repeat center center;
    background-size: cover;
    height: 150px;
}

.lb-btn-offer {
    background-color: #FF9C83;
    width: 150px;
}

.lb-btn-offer:hover {
    border: 1px solid #000;
    background-color: rgb(255, 255, 255, 0.3);
}

.dropdown-menu {
    --bs-border-color-translucent: #000;
}

.lb-cloud-mini {
    height: 70px;
}

.lb-cloud-mini h3 {
    margin-bottom: 0;
}

/* MAC Promo */
#mac-promo {
    background-color: #313639;
    border: 2px solid #313639;
}

#mac-promo p {
    margin-bottom: 0 !important;
}

/* Products Page */

.lb-title {
    border-top: 2px solid #FFECEB;
    border-bottom: 2px solid #FFECEB;
}

#lb-back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.lb-product-image {
    height: fit-content;
    overflow: hidden;
}

.lb-buy-product {
    width: 70%;
}

.form-select:focus {
    border-color: #313639;
    box-shadow: none;
}

.lb-products-dropdown {
    width: 200px;
}

/* Product Details */

.lb-text-title {
    font-weight: 200;
    font-size: 50px;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.lb-add-bag {
    background-color: #FF9C83;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.lb-add-bag:hover {
    border: 1px solid #000;
    background-color: rgb(255, 255, 255, 0.3);
}

.form-select {
    max-width: 300px;
}

.lb-shades-picker {
    width: 100%;
}

.lb-see-category {
    border: 1px solid #000;
}

.lb-see-category:hover {
    color: #FF9C83;
    border: 1px solid #FF9C83;
}

/* Shopping Bag */

.lb-bd-pink {
    border: 3px solid #FFECEB;
    border-radius: 3px;
}

.lb-item-title {
    min-height: 60px;
}

.lb-hover-underline {
    color: #000;
    text-decoration: none;
}

.lb-hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.update-item,
.remove-item {
    position: absolute;
    bottom: 10px;
}

.remove-item {
    right: 16px
}

/* Allauth */

.lb-underline {
    color: #000
}

.lb-buttons {
    background-color: #FF9C83;
    color: #000;
    border: 1px solid #FF9C83;
    border-radius: 3px;
}

.lb-buttons:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border: 1px solid #000;
}