@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif;
}

.lb-noto {
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 900;
}

/* Header */

#logo {
    background: url(/media/logo-black.webp) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
}

header {
    background-color: #000;
    font-size: 20px;
}

.nav-link:visited {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF9C83;
}

#search-button {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

#search-button:hover {
    background-color: #FF9C83;
    color: #000;
    border: 1px solid #000;
}

.lb-nav-drop:hover,
.lb-ul-drop {
    background-color: #000;
}

/* Footer */

.lb-footer {
    background-color: #000;
    height: 250px;
    font-size: 16px;
}

.lb-footer ul {
    list-style-type: none;
    justify-content: center;
}

#lb-socials {
    font-size: 24px;
}

/* Home Page */

.lb-btn-peach {
    background-color: #FF9C83;
    border-radius: 3px;
    border: 1px solid #000;
}

.lb-btn-peach:hover {
    border: 1px solid #FF9C83;
    border-radius: 3px;
    background-color: #313639;
}

/* Eyeshadow Promotion */

.lb-eyeshadow-container {
    height: 400px;
    color: #fff;
}

.lb-eyeshadow-promo {
    background-color: #313639;

}

.lb-eyeshadow-heading-one,
.lb-eyeshadow-heading-two {
    font-style: italic;
}

.lb-eyeshadow-heading-one {
    font-size: 40px;
}

.lb-eyeshadow-heading-two {
    font-size: 50px;
}

.lb-eyeshadow-face {
    background: url(/media/home-eyeshadow.webp) no-repeat center center;
    background-size: cover;
}

.lb-eyeshadow-art {
    background: url(/media/home-eyeshadow-art.webp) no-repeat center center;
    background-size: cover;
}

/* Special Offer Clouds */

.lb-offer-clouds {
    background: url(/media/home-clouds.webp) no-repeat center center;
    background-size: cover;
    height: 150px;
}

.lb-btn-offer {
    background-color: #FF9C83;
    border-radius: 3px;
    width: 100px;
}

.lb-btn-offer:hover {
    border-radius: 3px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255, 0.3);
}

.dropdown-menu {
    --bs-border-color-translucent: #000;
}

.lb-product-image {
    height: 300px;
    overflow: hidden;
}

.lb-images {
    width: fit-content;
}