@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif;
}

.lb-noto {
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 900;
}

.text-peach {
    color: #FF9C83 !important;
}

.border-rad {
    border-radius: 3px;
}

.card {
    border-color: #FFECEB;
    background-color: #FFECEB;
    border-width: 0;
}

.message-container {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

/* Header */

#logo {
    background: url(/media/logo-black.webp) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
}

header {
    background-color: #000;
    font-size: 20px;
}

.nav-link:visited {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF9C83;
}

#search-button {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

#search-button:hover {
    background-color: #FF9C83;
    color: #000;
    border: 1px solid #000;
}

.lb-nav-drop:hover,
.lb-ul-drop {
    background-color: #000;
}

/* Footer */

.lb-footer {
    background-color: #000;
    height: 250px;
    font-size: 16px;
}

.lb-footer ul {
    list-style-type: none;
    justify-content: center;
}

#lb-socials {
    font-size: 24px;
}

/* Toasts */

.toast,
.toast-capper {
    background-color: #FFECEB;
}

/* Home Page */

.lb-btn-peach {
    background-color: #FF9C83;
    border-radius: 3px;
    border: 1px solid #000;
    color: #000;
}

.lb-btn-peach:hover {
    border: 1px solid #FF9C83;
    border-radius: 3px;
    background-color: #313639;
    color: #fff;
}

/* Eyeshadow Promotion */

.lb-eyeshadow-container {
    height: 400px;
    color: #fff;
}

.lb-eyeshadow-promo {
    background-color: #313639;
}

.lb-eyeshadow-heading-one,
.lb-eyeshadow-heading-two,
.lb-italics {
    font-style: italic;
}

.lb-eyeshadow-heading-one {
    font-size: 40px;
}

.lb-eyeshadow-heading-two {
    font-size: 50px;
}

.lb-eyeshadow-face {
    background: url(/media/home-eyeshadow.webp) no-repeat center center;
    background-size: cover;
}

.lb-eyeshadow-art {
    background: url(/media/home-eyeshadow-art.webp) no-repeat center center;
    background-size: cover;
}

/* Special Offer Clouds */

.lb-offer-clouds {
    background: url(/media/home-clouds.webp) no-repeat center center;
    background-size: cover;
    height: 150px;
}

.lb-btn-offer {
    background-color: #FF9C83;
    width: 150px;
}

.lb-btn-offer:hover {
    border: 1px solid #000;
    background-color: rgb(255, 255, 255, 0.3);
}

.dropdown-menu {
    --bs-border-color-translucent: #000;
}

.lb-cloud-mini {
    height: 70px;
}

.lb-cloud-mini h3 {
    margin-bottom: 0;
}

/* MAC Promo */
#mac-promo {
    background-color: #313639;
    border: 2px solid #313639;
}

#mac-promo p {
    margin-bottom: 0 !important;
}

/* Products Page */

.lb-title {
    border-top: 2px solid #FFECEB;
    border-bottom: 2px solid #FFECEB;
}

#lb-back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.lb-product-image {
    height: fit-content;
    overflow: hidden;
}

.lb-buy-product {
    width: 70%;
}

.form-select:focus {
    border-color: #313639;
    box-shadow: none;
}

.lb-products-dropdown {
    width: 200px;
}

/* Product Details */

.lb-text-title {
    font-weight: 200;
    font-size: 50px;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

.lb-add-bag {
    background-color: #FF9C83;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.lb-add-bag:hover {
    border: 1px solid #000;
    background-color: rgb(255, 255, 255, 0.3);
}

.form-select {
    max-width: 300px;
}

.lb-shades-picker {
    width: 100%;
}

.lb-see-category {
    border: 1px solid #000;
}

.lb-see-category:hover {
    color: #FF9C83;
    border: 1px solid #FF9C83;
}

/* Shopping Bag */

.lb-bd-pink {
    border: 3px solid #FFECEB;
    border-radius: 3px;
}

.lb-item-title {
    min-height: 60px;
}

.lb-hover-underline {
    color: #000;
    text-decoration: none;
}

.lb-hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.update-item,
.remove-item {
    position: absolute;
    bottom: 10px;
}

.remove-item {
    right: 16px
}

/* Allauth */

.lb-underline {
    color: #000
}

.lb-buttons {
    background-color: #FF9C83;
    color: #000;
    border: 1px solid #FF9C83;
    border-radius: 3px;
}

.lb-buttons:hover {
    background-color: rgb(255, 255, 255, 0.3);
    border: 1px solid #000;
}

/* Shades */

.lb-shade-colour,
.lb-shade-empty {
    height: 25px;
    width: 25px;
    padding: 10px;
    border-radius: 50%;
}

.lb-shade-empty {
    background-color: #FF9C83;
    font-size: 14px;
}

#lb-003-moon {
    background-color: #d17070;
}

#lb-006-reef {
    background-color: #ec918f;
}

#lb-009-topaz {
    background-color: #a84b3e;
}

#lb-1 {
    background-color: #deb18e;
}

#lb-2 {
    background-color: #d3a26f;
}

#lb-3 {
    background-color: #eac09a;
}

#lb-4 {
    background-color: #c8946c;
}

#lb-5 {
    background-color: #d2935a;
}

#lb-6 {
    background-color: #b56a3a;
}

#lb-7 {
    background-color: #9c5537;
}

#lb-8 {
    background-color: #8e4c32;
}

#lb-1n {
    background-color: #e7cfb5;
}

#lb-3n {
    background-color: #debe9e;
}

#lb-5n {
    background-color: #e9b180;
}

#lb-7w {
    background-color: #a0553e;
}

#lb-9n {
    background-color: #824c33;
}

#lb-11n {
    background-color: #512716;
}

#lb-1n0-porcelain {
    background-color: #daaf9c;
}

#lb-2n1-desert-beige {
    background-color: #e0c1ad;
}

#lb-3n2-wheat {
    background-color: #f8cca7;
}

#lb-4n2-spiced-sand {
    background-color: #d18859;
}

#lb-5n2-amber-honey {
    background-color: #cd6824;
}

#lb-6n2-truffle {
    background-color: #893914;
}

#lb-7n1-deep-amber {
    background-color: #711d05;
}

#lb-8n1-espresso {
    background-color: #8e5a45;
}

#lb-235-nude {
    background-color: #d87f8e;
}

#lb-258-berry-blush {
    background-color: #b0545f;
}

#lb-303-rose-tendre {
    background-color: #e68396;
}

#lb-amaretto {
    background-color: #773236;
}

#lb-air-kiss {
    background-color: #d28b6f;
}

#lb-clearly-grape {
    background-color: #680f21;
}

#lb-apple-crisp {
    background-color: #942e22;
}

#lb-creme-brulee {
    background-color: #f8acaf;
}

#lb-sorbet {
    background-color: #d25965;
}

#lb-black {
    background-color: #000;
}

#lb-blue {
    background-color: #2c2cb7;
}

#lb-brown {
    background-color: #40252a;
}

#lb-f2 {
    background-color: #ddbeaa;
}

#lb-f3 {
    background-color: #e2c6b8;
}

#lb-f7 {
    background-color: #e6ba9b;
}

#lb-f10 {
    background-color: #c38963;
}

#lb-f13 {
    background-color: #966642;
}

#lb-f17 {
    background-color: #4f2612;
}

#lb-l2-mont-blanc {
    background-color: #dfb98c;
}

#lb-l5-fiji {
    background-color: #ddb089;
}

#lb-m2-santa-fe {
    background-color: #dfad88;
}

#lb-md3-cadiz {
    background-color: #e09156;
}

#lb-md5-marquises {
    background-color: #b57339;
}

#lb-xd3-iguacu {
    background-color: #7f4e2d;
}

#lb-xd5-zambie {
    background-color: #905533;
}

#lb-#7f4e2d {
    background-color: #905533;
}

#lb-marrakesh {
    background-color: #9a281d;
}

#lb-velvet-teddy {
    background-color: #cb7769;
}

#lb-ring-the-alarm {
    background-color: #8e1d23;
}

#lb-nc17 {
    background-color: #e9c89a;
}

#lb-nw20 {
    background-color: #dfc094;
}

#lb-nc35 {
    background-color: #e4a260;
}

#lb-nw40 {
    background-color: #c79556;
}

#lb-nc42 {
    background-color: #f7b577;
}

#lb-nc47 {
    background-color: #ba8037;
}

#lb-nw50 {
    background-color: #aa592c;
}

#lb-pink-quartz {
    background-color: #dc4d61;
}

#lb-honey-talks {
    background-color: #a15f59;
}

#lb-rose-envy {
    background-color: #bc504f;
}