<div class="container-fluid px-0">
    <nav class="navbar border-bottom border-body navbar-expand-md p-0" data-bs-theme="dark">
        <div class="container-fluid col-12">
            <a class="navbar-brand mx-4 p-0" id="logo" href="{% url 'home' %}"></a>
            <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link dropdown-toggle text-center" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Make Up
                        </a>
                        <ul class="dropdown-menu lb-ul-drop">
                            <li class="nav-item px-1 py-1"><a
                                    class="dropdown-item nav-link lb-nav-drop text-center text-md-start"
                                    href="{% url 'products' %}?category=face">Face</a>
                            </li>
                            <li class="nav-item px-1 py-1"><a
                                    class="dropdown-item nav-link lb-nav-drop text-center text-md-start"
                                    href="{% url 'products' %}?category=eyes">Eyes</a>
                            </li>
                            <li class="nav-item px-1 py-1"><a
                                    class="dropdown-item nav-link lb-nav-drop text-center text-md-start"
                                    href="{% url 'products' %}?category=lips">Lips</a>
                            </li>
                            <li class="nav-item px-1 py-1"><a
                                    class="dropdown-item nav-link lb-nav-drop text-center text-md-start"
                                    href="{% url 'products' %}?category=cheeks">Cheeks</a>
                            </li>
                            <li class="nav-item px-1 py-1"><a
                                    class="dropdown-item nav-link lb-nav-drop text-center text-md-start"
                                    href="{% url 'products' %}">All
                                    Make Up</a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="#">Manage Products</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                    </li>
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="{% url 'view_bag' %}"><i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </li>
                    <li class="nav-item px-3 py-1 px-xl-4 py-md-3">
                        <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid col-12 px-0">
    <div class="border-bottom border-body navbar-expand-md d-flex justify-content-center p-2">
        <form class="d-flex col-4" role="search" method="GET" action="{% url 'products' %}">
            <input class="form-control me-2 rounded-1" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn btn-outline-dark rounded-1" id="search-button" type="submit">Search</button>
        </form>
    </div>
</div>