{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="lb-offer-clouds lb-cloud-mini col-12 mt-2 d-flex align-items-center justify-content-around">
    <h3>Spend £{{ discount_threshold }} to get {{ discount_percentage }}% off!</h3>
</div>

<div class="col-12 mt-2 d-flex align-items-center justify-content-around">
    <h1 class="col-4 text-center my-3 py-2 lb-title">Products</h1>
</div>

<div class="d-flex my-3 justify-content-center">
    <div class="d-flex justify-content-center">
        <a class="btn col-1 lb-btn-offer px-2" id="lb-back-top">Back to top</a>
    </div>
    <div class="col-8">
        <div class="row my-2">
            <div class="col d-flex justify-content-between align-items-center">
                <select id="sort-selector" class="form-select lb-products-dropdown m-0">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %} selected {% endif %}>Price (low -
                        high)
                    </option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price (high
                        -
                        low)
                    </option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %} selected {% endif %}>Rating (low
                        -
                        high)
                    </option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %} selected {% endif %}>Rating
                        (high
                        -
                        low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %} selected {% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %} selected {% endif %}>Name (Z-A)
                    </option>
                </select>
                <p class="lb-products-dropdown text-end m-0">{{ products | length }} results</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
            <div class="col">
                <div class="card h-100 p-2 border-rad">
                    <div class="lb-product-image d-flex justify-content-center">
                        <img src="{{ product.image.url }}" class="card-img-top h-100 lb-images border-rad"
                            alt="{{ product.name }}">
                    </div>
                    <div class="card-body d-flex justify-content-end flex-column">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text text-center"><strong>£{{ product.price }}</strong> | {{ product.rating }} <i
                                class="fa-solid fa-star"></i>
                    </div>
                    {% if product.shades %}
                    <div class="d-flex flex-row justify-content-center align-items-center mb-3">
                        {% for shade in product.shades %}
                        {% if forloop.first or forloop.last %}
                        <div id="lb-shade-group"
                            class="d-flex justify-content-center align-items-center mx-2 lb-shade-label">
                            <span id="{{ shade | lower }}" class="lb-shade-colour me-1"></span>

                        </div>
                        {% endif %}
                        {% endfor %}
                        {% if product.shades|length > 2 %}
                        <span class="lb-shade-empty p-0 d-flex justify-content-center align-items-center">
                            <p class="d-flex justify-content-center align-items-center m-0">
                                +{{ product.shades|length|sub:2 }}</p>
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <a class="btn lb-btn-offer lb-buy-product px-5"
                            href="{% url 'product_detail' product.id %}">Buy</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#lb-back-top').css('display', 'none')
    })
    $(window).scroll(function () {
        scroll = $(window).scrollTop();

        if (scroll <= 100) {
            $('#lb-back-top').css('display', 'none')
        } else {
            $('#lb-back-top').css('display', 'block')
        }

        $('#lb-back-top').click(function (e) {
            window.scrollTo(0, 0)
        })
    })
</script>
<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this)
        let currentUrl = new URL(window.location);

        let selectedValue = selector.val();
        if (selectedValue != "reset") {

            let sort = selectedValue.split("_")[0];
            let direction = selectedValue.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {


            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
    $('.lb-shade-colour').each(function () {
        let oldShade = (($(this).attr('id')).split(" ").join("-"))
        let newShade = "lb-" + oldShade
        $(this).attr('id', newShade)
    });
</script>

{% endblock %}