{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row my-3 justify-content-center">
    <div class="col-10">
        <div class="row border-rad">
            <div class="lb-detail-image d-flex justify-content-center align-items-center col-4">
                <img src="{{ product.image.url }}" class="card-img-top border-rad" alt="{{ product.name }}">
            </div>
            <div class="card card-body p-4 col-8 align-items-center">
                <h3 class="lb-noto lb-text-title text-center m-2">
                    {{ product.name }}</h3>

                <p class="text-center m-2"> {% if product.volume %} {{ product.volume }} |{% endif %}
                    {{ product.rating }} <i class="fa-solid fa-star"></i>
                </p>
                <h4 class="lb-noto lb-eyeshadow-heading-two m-2">£{{ product.price }}</h4>
                <span class="lb-shades-picker d-flex justify-content-center my-3">
                    {% if product.shades %}
                    <select class="form-select mx-1" aria-label="Default select example">
                        <option selected>Choose your shade</option>
                        {% for shade in product.shades %}
                        <option>{{ shade }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <a class="btn lb-add-bag px-1 py-2 mx-1" href="{% url 'products' %}">Add to shopping bag</a>
                </span>
                <div class="d-flex align-items-center mt-4">
                    <p class="md-0">{{ product.description }}</p>
                </div>

            </div>
        </div>
        <div class="row justify-content-end">
            <div class="d-flex flex-column col-8 p-0" id="lb-margin-top">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Ingredients
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{ product.ingredients }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}