{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row my-3 justify-content-center">
    <div class="col-8">
        <div class="row my-2">
            <div class="col d-flex justify-content-between align-items-center">
                <select class="form-select m-0 col-4">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %} selected {% endif %}>Price (low -
                        high)
                    </option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price (high
                        -
                        low)
                    </option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %} selected {% endif %}>Rating (low
                        -
                        high)
                    </option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %} selected {% endif %}>Rating
                        (high
                        -
                        low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %} selected {% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %} selected {% endif %}>Name (Z-A)
                    </option>
                </select>
                <p class="col-4 text-end m-0">{{ products | length }} results</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mt-0">
            {% for product in products %}
            <div class="col">
                <div class="card h-100 p-2 border-rad">
                    <div class="lb-product-image d-flex justify-content-center">
                        <img src="{{ product.image.url }}" class="card-img-top h-100 lb-images border-rad"
                            alt="{{ product.name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text text-center"><strong>£{{ product.price }}</strong> | {{ product.rating }} <i
                                class="fa-solid fa-star"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn lb-btn-offer lb-buy-product px-5"
                            href="{% url 'product_detail' product.id %}">Buy</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}