<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header toast-capper text-bg-info">
        <strong class="me-auto"><i class="fa-solid fa-circle-info"></i> Info</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" data-dismiss="toast"
            aria-label="Close"></button>
    </div>
    <div class="d-flex flex-row p-2">
        <div id="success-other" class="toast-body">
            {{ message }}
        </div>
    </div>
</div>