<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header toast-capper text-bg-success">
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" data-dismiss="toast"
            aria-label="Close"></button>
    </div>

    {% if 'was added to your bag' in message.message %}
    <div class="d-flex flex-row p-2">
        {% for item in bag_items %}
        {% if item.product.name in message.message %}
        <img class="h-100 col-4" src="{{ item.product.image.url }}">
        <div id="success-bag" class="col-8 p-3 d-flex flex-column justify-content-center">
            <p class="card-title">{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <a class="btn lb-btn-offer p-0 w-100 text-center" href="{% url 'view_bag' %}">View Bag</a>

    {% else %}

    <div class="d-flex flex-row p-2">
        <div id="success-other" class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endif %}
</div>